<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- <%= check_box_tag 'accept' %> Accept -->
<!--

<form role="form">
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
-->

<%=  %>

<%= form_tag('results')  do  %>

 <!--   <%= text_field_tag 'key',nil, placeholder: "Discover the Twitter sentiment for a product or brand..." %>
    -->

    <div id="cols">
    <%= Location.find_each do |a|%>
        <%= check_box_tag a.loc_name, a.loc_name %> <%= a.loc_name%> </br>
    <% end%>
    </div>
    <%= submit_tag 'Search', class: "button" %>

<% end %>