<p id="notice"><%= notice %></p>

<p>
  <strong>Loc:</strong>
  <%= @location.loc_id %>
</p>

<p>
  <strong>Loc name:</strong>
  <%= @location.loc_name %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @location.zone_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
